body{
    border: 1px solid;
    height: 100vh;
    display: flex;
    border-radius: 12px;
}

article{
    border: 1px solid;
    flex-grow: 0.2;
    margin: 10px;
}

.caja1{
    border: 1px solid;
    height: 9rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    border: 1px solid;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.la{
    border: 1px solid;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.caja2{
    border: 1px solid;
    display: flex;
    justify-content: center;
}

ul>li{
    font-size: 35px;
    list-style: none;
}

#cua{
    color: #363853;
}   

.espacio{
    display: flex;
    height: 23rem;
}

.caja3{
    border: 1px solid;
    display: flex;
    justify-content: center;
}

.contenedor_princi{
    border: 1px solid;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.secundario{
    border: 1px solid;
    display: flex;
    height: 5rem;
}

.bus{
    display: flex;
    align-items: center;

}

.buscador{
    width: 350px;
}

.Esquina{
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: center;
}

.En{
    border: 1px solid;
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #36385354;
}

.tiu{
    font-size: 35px;
}

.asi{
    border: 1px solid red;
    flex-grow: 0.2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.c1{
    border: 1px solid;
    width: 270px;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cuae{
    
}